<h1>Practice Notebook: Paskal Siakam's Career Stats</h1>

Task: Import Paskal Siakam's career stats as a .csv file from Basketball-Reference.com and display as table using Python and Pandas

Import packages

In [1]:
import csv
import pandas as pd
import numpy as np

Read the file - siakam.csv, covert to a pandas dataframe and display the dataframe

In [3]:
df = pd.read_csv('siakam_stats.csv')
df_siakam = pd.DataFrame(df)
df_siakam.head()

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2016-17,22.0,TOR,NBA,PF,55,38,859,103,205,...,0.688,64,121,185,17,26,45,33,109,229
1,2017-18,23.0,TOR,NBA,PF,81,5,1679,253,498,...,0.621,79,285,364,159,62,42,67,166,589
2,2018-19,24.0,TOR,NBA,PF,80,79,2548,519,945,...,0.785,124,425,549,248,73,52,154,241,1354
3,Career,NaN,NaN,NBA,NaN,216,122,5086,875,1648,...,0.743,267,831,1098,424,161,139,254,516,2172